html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width:768px) {
    .contenedor-grid {
        display: grid;
        grid-template-columns: 3fr repeat(2, 1fr);
        /*grid-template-columns: 60% 20% 20%;
        grid-template-columns: 700px 1fr 1fr;
        grid-template-columns: 700px repeat(2, 1fr);*/
        column-gap: 2rem;
    }
}