html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
img {
    max-width: 100%;
}
p {
    font-size: 16px;
    line-height: 2;
}
.boton {
    background-color: #00B8E4;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: background-color .3s ease-in-out;
}
.boton:hover {
    background-color: rgb(0, 131, 164);
}
.site-header {
    padding: 20px 0;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    /*overflow:auto; hace lo mismo que el clearfix para limpiar los float*/
}
.clearfix::after {
    content:'';
    clear: both;
    display: block;
}
/** Navegación Responsive **/
.barra {
    overflow: hidden;
}
.mobile-menu {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 20px 0;
}
#nav:target { /*para abrir y cerrar menu*/
    max-height: 800px;
}
.navegacion-principal {
    max-height: 0;
    transition: .5s;
}
@media (min-width:768px){
    .navegacion-principal{
        max-height: unset;
    }
    .mobile-menu, 
    .cerrar {
        display: none!important;
    }
}


/** Navegacion **/
.barra {
    margin-top: 40px;
    background-color: #DB008D;
}
.navegacion-principal a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px;
}
@media (min-width:768px){
    .navegacion-principal a{
        display: inline-block;
    }
}
.navegacion-principal a:hover {
    background-color: #00B8E4;
}
/** Contenedores Principal **/
.contenido-principal{
    margin-top: 40px;
}
.contenido-principal, 
.sidebar {
    padding: 20px;
}
@media (min-width:768px){
    .contenido-principal {
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    .sidebar{
        width: 30%;
        float: right;
        padding:0;
        margin-top: 40px;
    }
}
/** Entradas de Blog **/
h2 {
    color: #00B8E4;
    margin-bottom: 20px;
}
.entrada {
    margin-bottom: 60px;
}
.entrada:last-of-type{
    margin-bottom: 0;
}
.entrada img {
    display: block;
}
@media (min-width: 480px){
    .entrada img {
        width: 300px;
        float:left;
        margin: 0 30px 0 0;
    }
}
.entrada p {
    text-align: justify;
}
/** Sidebar **/
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 10px;
}
.sidebar ul li:hover {
    background-color: #00B8E4;
}
.sidebar ul li a {
    color: #00B8E4;
    font-size: 18px;
    text-decoration: none;
}
.sidebar ul li:hover a {
    color: #ffffff;
}
.footer-sitio {
    background-color: #DB008D;
    padding-top: 40px;
    margin-top: 60px;
    color: #ffffff;
    text-align: center;
}
.footer-sitio h2 {
    color: #ffffff;
}
.footer-sitio a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}
.footer-sitio a:last-of-type{
    margin-right: 0;
}
@media (min-width:768px){
    .footer-sitio .nosotros {
        float: left;
        width: 30%;
        text-align: left;
    }
    .footer-sitio .menu {
        float: right;
        width: 50%;
        text-align: right;
    }
}
.copyright {
    background-color: #b10474;
    margin: 50px 0 0 0;
    padding: 20px 0;
}