html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .con-sidebar {
        display: grid;
        grid-template-columns: 1fr 3fr;
        /*grid-template-columns: 30% 70%
        grid-template-columns: 1fr 700px;*/
        column-gap: 4rem;
    }
    aside {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    article {
        grid-column: 2 / 3;
    }
}