html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+51,a849a3+100 */
background: #e570e7; /* Old browsers */
background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 51%, #a849a3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 51%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 51%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 40px 0;
}
img {
    max-width: 100%;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto; /*centra el contenido en la pantalla*/
}
.hero {
    margin-bottom: 40px;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}
.lista-productos {
    padding: 0;
    list-style: none;
}
.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
/** 2(0) + 1 **/
.lista-productos li:nth-child(2n+1) {
    clear: both;
}
@media (min-width:768px){
    .lista-productos li {
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1) {
        clear: unset; /*para quitar ese valor de both*/
    }
    .lista-productos li:nth-child(3n+1) {
        clear: both;
    }
}

.lista-productos li img{
    border: 10px solid rgba(128, 1, 195, .45);
    transition: border-color .3s ease-in-out;
}
.lista-productos li img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
}
.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0 0;
}
span.precio {
    color: #FFCE00;
    font-size: 40px;
}
.boton {
    background-color: #FFCE00;
    padding: 10px 40px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #8001c3;
    transition: background-color .3s ease-in-out;
}
.boton:hover {
    background-color: #EBBC00;
}