/*Custom properties o variables de CSS*/
:root{
	--fuentePrincipal: 'Staatliches', cursive;

	--primario: #9C27B0;
	--primarioOscuro:#89119D;
	--secundario: #FFCE00;
}
html{
	font-size: 62.5%;
	box-sizing: border-box;
}
/*Box sizing de Paul Irish*/
*, *:before, *:after{
	box-sizing: inherit;
}
body{
	background-color: var(--primario);
	line-height: 2;
	font-size: 2rem;
}
body.footer-fijo{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
body.footer-fijo main{
	flex: 1;
}
h1{
	color: var(--secundario);
	text-align: center;
	font-size: 4rem;
	font-family: var(--fuentePrincipal);
}
p{
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}
.contenedor{
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
}
img{/*Imagenes responsivas*/
	max-width: 100%;
}
.header{
	display: grid;
	justify-content: center;
	padding: 3rem 0;
}

.barra{
	background-color: var(--primarioOscuro);
	padding: 1rem 0;
}
.barra .nav{
	display: grid;
	/*grid-template-columns: 200px 200px;*/
	grid-template-columns: repeat(2,200px);
	grid-column-gap: 1rem; /*crea una separacion como un margin*/
	justify-content: center;	
}
.barra .nav a{
	font-family: var(--fuentePrincipal);
	font-size:3rem;
	text-align: center;
	color:#ffffff;
	text-decoration: none;
}
.barra .nav a:hover{
	color: var(--secundario);
}
.lista-productos{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 2rem; /*separacion entre los elementos*/
}

@media (min-width: 768px) {
	.lista-productos{
		grid-template-columns: repeat(3,1fr);
	}
}
.producto{
	background-color: var(--primarioOscuro);
	padding: 1rem;
}
.contenido-producto p{
	font-family: var(--fuentePrincipal);
	color: white;
	text-align: center;
	margin: 1rem 0;
	line-height: 1.2;
}
.contenido-producto .titulo{
	font-size: 4rem;
}
.contenido-producto .precio{
	font-size: 2.8rem;
	color: var(--secundario);
}
.grafico{
	min-height: 300px;
	grid-column: 1 / 3;
	background-size: cover;
	background-position: center center;
}
.grafico-1{
	background-image: url(../img/grafico1.jpg);
	grid-row: 2 / 3;
	
}
.grafico-2{
	background-image: url(../img/grafico2.jpg);
	grid-row: 8 / 9;
	grid-column: 2/ 4;
}
@media (min-width: 768px){
	.grafico-2{
		grid-row: 5 / 6;
		grid-column: 2/ 4;
	}
}


@media (min-width: 768px){
	.contenedor-informacion{
		display: grid;
		/*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); para quitar media querie*/
		grid-template-columns: repeat(2, 1fr);	
		/*grid-template-columns: 2fr 1fr; el texto toma dos terceras partes y la imagen una*/
		/*grid-template-columns: 1fr 2fr; el texto toma una tercera parte y la imagen dos*/
		grid-column-gap: 2rem;
	}
}

.imagen-producto{
	width: 100%;
}

.footer{
	background-color: var(--primarioOscuro);
	padding: 1rem 0;
	margin-top: 2rem;
}
.copyright{
	font-family: var(--fuentePrincipal);
	color: white;
	font-size: 2.2rem;
	text-align: center;
}

.formulario-pedido{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 6rem);
	grid-gap: 1rem; 
}
.campo{
	background-color: transparent;
	border:5px solid white;
	font-family: var(--fuentePrincipal);
	font-size: 3rem;
	padding: 1rem;
	width: 100%;
	color: white;
	text-align: center;
}
.talla{
	-webkit-appearance:none;
	-webkit-border-radius:0px;
	grid-column: 1 / 3;
}
.boton{
	background-color: var(--secundario);
	font-size: 2rem;
	font-family: var(--fuentePrincipal);
	border:none;
	transition: background-color .3s ease;
	grid-column: 1 / 4;
}
.boton:hover{
	cursor: pointer;
	background-color: rgb(233,187,2);
}